@using SIGCora.Presentation.Areas.Security.Models.Constant
@using SIGCora.Presentation.Areas.Security.Models.Ubigeo
@{
    Layout = null;
}
<form id="frmCompanyCreateUpdate" class="needs-validation" novalidate method="dialog">
    <h6 class="pt-2">&nbsp;&nbsp;Todos los campos(<i class=" ri-asterisk align-middle text-danger"></i>) son obligatorios</h6>
    <div class="card-body">
        <div class="row align-items-center g-3">
            <div class="col-sm-9">
               <div class="row g-3 pb-2">
                <div class="col-sm-4">
                        <label for="txtCompanyID">Código</label>
                        <input type="text" class="form-control" id="txtCompanyID" name="CompanyID" value="GENERADO" readonly />
                </div>
                <div class="col-sm-4">
                        <label for="cboCountryID">Pais<i class=" ri-asterisk align-middle text-danger"></i></label>
                        <select class="form-select" id="cboCountryID" name="CountryID">
                            @if (@ViewBag.CountryList != null)
                            {
                                <option value="">Seleccionar</option>
                                var CountryList = ViewBag.CountryList as List<UbigeoListByClassAndCodeAndLenCodeResponseModel>;
                                @foreach (var Item in CountryList!)
                                {
                                    <option value="@Item.UbigeoID">@Item.UbigeoName</option>
                                }
                            }
                    </select>
                </div>
                    <div class="col-sm-4">
                        <label for="txtCompanyDocumentNumber">N° Documento<i class=" ri-asterisk align-middle text-danger"></i></label>
                        <input type="text" class="form-control" id="txtCompanyDocumentNumber" name="CompanyDocumentNumber" />
                    </div>
               </div>
                <div class="row g-3 pb-2">
                    <div class="col-sm-4">
                        <label for="dtpCompanyBirthDate">Fecha incripción<i class=" ri-asterisk align-middle text-danger"></i></label>
                        <div class="input-group">
                            <input type="date" class="form-control flatpickr-input" id="dtpCompanyBirthDate" name="CompanyBirthDate" data-provider="flatpickr" data-date-format="d/m/Y" />
                            <span class="input-group-text fs-15" id="span-dtpCompanyBirthDate" style="cursor:pointer"><i class="ri-calendar-event-fill"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="cboTaxpayerTypeID">Tipo contribuyente<i class=" ri-asterisk align-middle text-danger"></i></label>
                        <select class="form-select" id="cboTaxpayerTypeID" name="TaxpayerTypeID">
                            @if (@ViewBag.TaxpayerTypeList != null)
                            {
                                <option value="">Seleccionar</option>
                                var TaxpayerTypeList = ViewBag.TaxpayerTypeList as List<ConstantListResponseModel>;
                                @foreach (var Item in TaxpayerTypeList!)
                                {
                                    <option value="@Item.ConstantID">@Item.ConstantName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="chkStateID" class="col-sm-4 col-form-label">Estado</label>
                        <div class="col-sm-8">
                            <div class="form-check form-switch form-switch-md form-switch-secondary" dir="ltr">
                                <input type="checkbox" class="form-check-input" checked id="chkStateID">
                                <label class="form-check-label" for="chkStateID">Activo</label>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row pb-2">
                    <label for="txtCompanySocialReason" class="col-sm-2 col-form-label">Razón social<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtCompanySocialReason" name="CompanySocialReason" />
                    </div> 
                </div>
                <div class="row pb-2">
                    <label for="txtCompanyTradeName" class="col-sm-2 col-form-label">Nombre comercial<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtCompanyTradeName" name="CompanyTradeName" />
                    </div> 
                </div>
                <div class="row pb-2">
                    <label for="txtCompanyAddress" class="col-sm-2 col-form-label">Direccón fiscal<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtCompanyAddress" name="CompanyAddress" />
                    </div>
                </div>
                <div class="row pb-2">
                    <label for="cboRubroID" class="col-sm-2 col-form-label">Rubro<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-4">
                        <select class="form-select" id="cboRubroID" name="RubroID">
                            @if (@ViewBag.RubroList != null)
                            {
                                <option value="">Seleccionar</option>
                                var RubroList = ViewBag.RubroList as List<ConstantListResponseModel>;
                                @foreach (var Item in RubroList!)
                                {
                                    <option value="@Item.ConstantID">@Item.ConstantName</option>
                                }
                            }
                        </select>
                    </div>
                    <label for="txtCompanyCorporateEmail" class="col-sm-2 col-form-label">Correo<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtCompanyCorporateEmail" name="CompanyCorporateEmail" />
                    </div>

                </div> 
                <div class="row pb-2">
                    <label for="txtCompanyPhone" class="col-sm-2 col-form-label">Teléfono</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtCompanyPhone" name="CompanyPhone" />
                    </div>
                    <label for="txtCompanyMobile" class="col-sm-2 col-form-label">Célular</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtCompanyMobile" name="CompanyMobile" />
                    </div>
                </div> 
            </div>
            <div class="col-sm-3">
                <div class="card border card-border-light">                  
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h4>LOGO</h4>
                            <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                <input type="hidden" id="hdCompanyLogo" name="CompanyLogo" />
                                <img style="width:200px;height:200px" src="~/assets/images/image-not-available.jpg" id="imgCompanyLogo" class="img-thumbnail user-profile-image" alt="Logo empresa">
                                <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                    <input id="profile-img-file-input" type="file"  class="profile-img-file-input">
                                    <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                        <span class="avatar-title rounded-circle bg-light text-body">
                                            <i class="ri-camera-fill"></i>
                                        </span>
                                    </label>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-sm-9 pb-2 mt-3">               
                <div class="text-end">               
                    <button type="button" class="btn btn-light" id="btnCompanyNew"><i class="ri-file-text-fill align-bottom me-1 fs-13"></i>&nbsp;Nuevo&nbsp;</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" id="btnCompanyCreate"><i class="ri-save-3-line align-bottom me-1 fs-13"></i><span>Guardar</span></button>
                    <button type="button" class="btn btn-primary" id="btnCompanyUpdate"><i class="ri-pencil-fill align-bottom me-1 fs-13"></i>Editar&nbsp;</button>
                </div>
            </div>
        </div> 
    </div>
</form> 